

#alert.notification.is-danger
    button#close-alert-button.delete(type=button)
    span
        | If you're having issues submitting, email us at
        |
        a(href="mailto:info@hackfsu.com") info@hackfsu.com
        | .
        //- | Please include your platform and browser.


block append scripts
    script.
        $('#close-alert-button').on('click', (ev) => {
            $('#alert').hide();
        });
