extends ../layout

include ../partials/mixins.pug

mixin header
  .header
    block

mixin column
  .columns.is-centered
    .column.is-half.limit-width
      block

block append styles
  link(rel='stylesheet', href='/css/register.css')

block append scripts
  script(src='https://www.google.com/recaptcha/api.js')
  script(src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")
  //- script(src="/static/bower_components/devbridge-autocomplete/dist/jquery.autocomplete.min.js")
  //- script(src="js/schoolAutocomplete.js")
  script(src="js/register.js")

block content
  background
    .overlay
  form.registerForm
    include alert.pug
    section.section#part1
      +column
        +header
          h1.title Create an Account
        +field('Email*', 'email')(name="email")
        +field('Password*', 'password')(name="password")
        +field('Confirm Password*', 'password')(name="confirmPassword")
        +button('Next')
        //- p.signin: a Already have an account?

    section.section#part2
      +column
        +header
          h1.title Who Are You?
        +field('First Name*', 'text')(name="firstName")
        +field('Last Name*', 'text')(name="lastName")
        +field('Phone Number*', 'text')(name="phoneNumber")
        +field('Github URL', 'text')(name="github")
        +field('LinkedIn URL', 'text')(name="linkedin")

        +select('shirtSize')
          option(value="" selected) Shirt Size*
          option(value="m-s") S
          option(value="m-m") M
          option(value="m-l") L
          option(value="m-xl") XL
          option(value="m-2xl") XXL
          option(value="m-3xl") XXXL

        #diets
          label Dietary restrictions?
          +checkbox('vegetarian', 'Vegetarian')
          +checkbox('vegan', 'Vegan')
          +checkbox('allergies', 'Allergies')
          +checkbox('other', 'Other')

        +field('Tell Us More', 'text')(name="comments")
        +checkbox2('codeOfConduct')
          span
            | I will abide by the
            |
            a(href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf") MLH Code Of Conduct
            |
            | for the duration of the event
        +checkbox2('termsAndConditions')
          span
            | I agree to the terms of both the
            |
            a(href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions") MLH Contest Terms and Conditions
            |
            | and the
            |
            a(href="https://mlh.io/privacy") MLH Privacy Policy.
            //- |
            //- | Please note that you may receive pre
            //- | and post-event informational e-mails
            //- | and occasional messages about hackathons
            //- | from MLH as per the MLH Privacy Policy.

        +button('Next')

    section.section#part3
      +column
        +header
          h1.title Final Details
        +select('studentType')
          option(value="" selected) Student Type*
          option(value="FR") College Freshman
          option(value="SO") College Sophomore
          option(value="JR") College Junior
          option(value="SR") College Senior
          option(value="GS") Graduate Student
          option(value="HS") High School Student
          option(value="RG") Recent College Graduate

        +field('School*', 'text')(name="school")
        //- +field('Status*', 'text')(id="status")
        +field('Major*', 'text')(name="major")

        +checkbox('firstHackathonYes', 'This is my first Hackathon.')
        +checkbox('ageRadioYes', 'I am 18 years or older. (Not Required)')

        .field.resume-wrap
          .file.is-centered
            label.file-label
              input#resume.file-input(type="file", name="resume")
              span.file-cta
                span#file-label.file-label Upload Your Resume…

        .g-recaptcha(data-sitekey="6LcrLjYUAAAAAGXmRcU6IwQdiGeC_6uPPBCHuJau")

        +button('Submit')
