extends ../layout

block content 
  form.registerForm.row
    .col.s12  
      .header
        h1 Registration
      .row
        .input-field.col.s6.offset-s3
          select#registrationType
            option(value="" disabled selected) Select One
            option(value="hacker") hacker
            option(value="mentor") mentor
            option(value="judge") judge
          label(for="registrationType") I want to... *
      .row
        .input-field.col.s6.offset-s3
          label(for="email") Email*
          input#email.validate(type="email")
      .row
        .input-field.col.s6.offset-s3
          label(for="password") Password*
          input#password.validate(type="password")
      .row
        .input-field.col.s6.offset-s3
          label(for="confirmPassword") Confirm Password*
          input#confirmPassword.validate(type="password")
      .header 
        h1 Who Are You?
      .row 
        .input-field.col.s6.offset-s3
          label(for="firstName") First Name*
          input#firstName.validate(type="text")
      .row
        .input-field.col.s6.offset-s3
          label(for="lastName") Last Name* 
          input#lastName.validate(type="text")
      .row 
        .input-field.col.s6.offset-s3
          label(for="phoneNumber") Phone Number* 
          input#phoneNumber.validate(type="text")
      .row
        .input-field.col.s6.offset-s3
          select#shirtSize.validate
            option(value="" disabled selected) Shirt Size
            option(value="S") S
            option(value="M") M
            option(value="L") L
            option(value="XL") XL
      .row 
        .input-field.col.s6.offset-s3
          label(for="github") Github
          input#github.validate(type="text")
      .row 
        .input-field.col.s6.offset-s3 
          label(for="linkedin") LinkedIn
          input#linkedin.validate(type="text")
      .row 
        label.col.s2.offset-s3.left-align Dietary restrictions?
        .col.s4
          .col.s6.left-align
            input#vegetarian(type="checkbox")
            label(for="vegetarian") Vegetarian
          .col.s6.left-align
            input#vegan(type="checkbox") 
            label(for="vegan") Vegan
        .col.s4.offset-s5
          .col.s6.left-align
            input#allergies(type="checkbox") 
            label(for="allergies") Allergies
          .col.s6.left-align
            input#other(type="checkbox") 
            label(for="other") Other
      .header
        h1 Legal Stuff
      .row 
        .col.s6.offset-s3
          input#codeOfConduct(type="checkbox")
          label(for="codeOfConduct")
            span
              p I will abide by the 
              a MLH Code Of Conduct 
              p for the duration of the event

      - var registrationType = 'Hacker'
      if registrationType === 'Hacker'
        .header
          h1 Hacker Registration
        .row 
          .col.s6.offset-s3 Student Type*
            select#studentType 
              option(value="" disabled selected) Student Type*
              option(value="College Student") College Student
              option(value="Graduate Student") Graduate Student
        .row 
          .col.s6.offset-s3
            label(for="school") School*
            input#school.validate(type="text")
        .row 
          .col.s6.offset-s3 
            label(for="status") Status*
            input#status.validate(type="text")
        .row 
          .col.s6.offset-s3 
            label(for="major") Major*
            input#major.validate(type="text")
        .header
          h1 About You
        .row
          .col.s6.offset-s3.left-align 
            .col.s6 Will this be your first hackathon?*
            .col.s6
              input(type="radio" value="Yes")
              label Yes
              input(type="radio" value="No")
              label No
        .row
           .col.s6.offset-s3.left-align 
            .col.s6 Are you 18 years or older?*
            .col.s6
                input(type="radio" value="Yes")
                label Yes
                input(type="radio" value="No")
                label No
        .row 
          .col.s6.offset-s3.left-align.file-field.input-field Resume (PDF)
            .btn
              span File
                input(type="file")
        .row
          .col.s2.offset-s3.left-align What are you interested in hacking?
          .col.s4
            .col.s4.left-align
              input#vegetarian(type="checkbox")
              label(for="vegetarian") Vegetarian
            .col.s4.left-align
              input#vegan(type="checkbox") 
              label(for="vegan") Vegan
            .col.s4.left-align
              input#vegan(type="checkbox") 
              label(for="vegan") Vegan
          .col.s4.offset-s5
            .col.s4.left-align
              input#allergies(type="checkbox") 
              label(for="allergies") Allergies
            .col.s4.left-align
              input#allergies(type="checkbox") 
              label(for="allergies") Allergies
            .col.s4.left-align
              input#other(type="checkbox") 
              label(for="other") Other
          .col.s4.offset-s5
            .col.s4.left-align
              input#allergies(type="checkbox") 
              label(for="allergies") Allergies
            .col.s4.left-align
              input#allergies(type="checkbox") 
              label(for="allergies") Allergies

