@import "base"

body
    font-family: 'Graphik', sans-serif

@import "index/header"
@import "index/about"
@import "index/sponsors"
@import "index/footer"


//
//  General Overrides
//

section, footer
    z-index: 10
    position: relative

section.header
    z-index: 10

.title
    font-weight: 500
