extends ../../../../_pug/userLayout.pug

block vars
    -
        var pageName = "Results Management"
        var viewDir = "/static/views/organize/judging/results"
        var DataTables = true

block append scripts
    script(src=`${viewDir}/script.js`)

block content
    h1 Results
    p Sort to get winners!

    table#hacks.table.table-striped.table-bordered(cellspacing="0" width="100%")
