// Screen sizes for media queries (from bootstrap)
$screen-sm-min: 768px;      // max for phones, min for tablets
$screen-md-min: 992px;      // min for regular desktops
$screen-lg-min: 1200px;     // min for large desktops

// Colors
$color-dark: #2F2933;
$color-medium: #2D3142; // TODO
$color-light: #FFFFFF;

// Fonts
$font-header: 'Uni Sans Heavy CAPS';
$font-body: 'Roboto';
