extends ../../../../_pug/standardLayout.pug

block vars
    -
        var pageName = "Password Reset"
        var viewDir = "/static/views/user/password/start_reset"

block append scripts
    script(src="https://www.google.com/recaptcha/api.js" async defer)
    script(src=`${viewDir}/script.js`)

block content
    h1 Reset Password
    p Forgot your password? It happens. Give us your email and we will send you a link to reset your password.
    form#startReset
        .form-section
            fieldset.row
                .field-label.col-md-2 Email *
                .col-md-10: input.responsive(type="email" name="email" maxlength=100 placeholder="your@email.com" required)
        .form-section
            .flex-center
                .g-recaptcha(data-sitekey=locals.keys.reCaptchaSiteKey)
        .form-section.text-center
                button.btn.btn-form(type="submit") Submit

