extends ../../../_pug/standardLayout.pug

block vars
    -
        var pageName = "Captcha Test"
        var viewDir = "/static/views/test/captcha"

block append scripts
    script(src=`${viewDir}/script.js`)
    script(src="https://www.google.com/recaptcha/api.js" async defer)

block content
    h1=pageName
    form#test
        .g-recaptcha(data-sitekey=keys.reCaptchaSiteKey)
        button(type="button") Get Response
        textarea
