/*****************************************************************************
 * CHECKBOXES
 */


// Base for label styling
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    color: #303030 !important;
    font-weight: 400;
}

// checkbox aspect
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 1px;
    width: 12px;
    height: 12px;
    border: 2px solid $form-border-color;
    background: rgba(30, 177, 173, 0);
}
// checked mark aspect
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: $form-border-color;
    background-color: $form-border-color;
    transition: all 0.2s;
}
// checked mark aspect changes
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
// disabled checkbox
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
