/*****************************************************************************
 * FILE UPLOAD INPUT
 * label style is extended from btn-form as btn-form-file
 * definition is in the same .scss file as btn-form
 */

input.file-upload {
  cursor: pointer;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}