extends ../../../_pug/standardLayout.pug

block vars
    -
        var pageName = "User Profile"
        var viewDir = "/static/views/user/profile"

block append scripts
    script(src=`${viewDir}/script.js`)

block content
    h1 Profile
