#
#    Editor/Enviroment
#
.idea
*.pyc
__pycache__
node_modules
npm-debug.log*
bower_components
*.sqlite3
/venv
*.tmp
*.DS_Store


#
#   Django API Files
#

api/static_collected
api/media
api/webapp/build
api/scripts/data
secret_keys.json

#
#   Express Webapp Files
#

webapp/public/**/*.css
webapp/public/**/*.css.map
webapp/public/js/register.js

#
#   Configuration
#

**/.env
services/gorush/config.yml
services/gorush/*.pem
services/gorush/*.p12
.vscode/
./media
