# Editor/Enviroment
.idea
*.pyc
__pycache__
node_modules
npm-debug.log*
bower_components
*.sqlite3
/venv
*.tmp
*.DS_Store

# Project
api/static_collected
api/media
api/webapp/build
api/scripts/data
secret_keys.json
webapp/public/stylesheets/style.css
webapp/public/stylesheets/style.css.map

# Ignore root dir compose configs
/docker-compose.yml
/dev.yml
/migrations.yml
