//
                      +hho.hhhhhhhhhhhho-`hhhhhhhhhhhhhhhhhhhhhhhho`
                     yMMMMNMMMMMMMMMNyNMMNMMMMN/.oMMNyMMMMMMMMMMMMMm-
                     `dMMMMMMMMMMMMMMh. /MMMMMMM/ .NMM+ -dMMMMMMMMMMMMMo
                  -mMMMMMMMMMMMMMN/  :mMMMMMMs `dMMMm:  oMMMMMMMMMMMMMd.
    -:::///+++oooosNMMMMMMMMMMMMMh` `yMMMMMMMd  yMMMMMMs` .dMMMMMMMMMMMMM+
    ---:ooooooooooooooooooooooooo`  yMMMMMMMN. /MMMMMMMMo  `oooooooooooooo`
       ``..-:://smMMMMMMMMMMMMMMm/  /mMMMMM: -NMMMMMMd-  +NMMMMMMMMMMMMd-
              :os+:sMMMMMMMMMMMMMMh. `sMMMo `mMMMMMN/  :mMMMMMMMMMMMMN+
                    :NMMMMMMMMMMMMMMs.hMMh  yMMMMMMN`.yMMMMMMMMMMMMMy`
                     `hMMModN/yNMMMMMMMMMo+hMMMMMMMMNNMMMMMmdMMMMMm:
                       .--` .  `.--------------------------. `.--.

                ██╗  ██╗ █████╗  ██████╗██╗  ██╗███████╗███████╗██╗   ██╗
                ██║  ██║██╔══██╗██╔════╝██║ ██╔╝██╔════╝██╔════╝██║   ██║
                ███████║███████║██║     █████╔╝ █████╗  ███████╗██║   ██║
                ██╔══██║██╔══██║██║     ██╔═██╗ ██╔══╝  ╚════██║██║   ██║
                ██║  ██║██║  ██║╚██████╗██║  ██╗██║     ███████║╚██████╔╝
                ╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝╚═╝     ╚══════╝ ╚═════╝
