
<!--
                  +hho.hhhhhhhhhhhho-`hhhhhhhhhhhhhhhhhhhhhhhho`
                 yMMMMNMMMMMMMMMNyNMMNMMMMN/.oMMNyMMMMMMMMMMMMMm-
                 `dMMMMMMMMMMMMMMh. /MMMMMMM/ .NMM+ -dMMMMMMMMMMMMMo
              -mMMMMMMMMMMMMMN/  :mMMMMMMs `dMMMm:  oMMMMMMMMMMMMMd.
-:::///+++oooosNMMMMMMMMMMMMMh` `yMMMMMMMd  yMMMMMMs` .dMMMMMMMMMMMMM+
---:ooooooooooooooooooooooooo`  yMMMMMMMN. /MMMMMMMMo  `oooooooooooooo`
   ``..-:://smMMMMMMMMMMMMMMm/  /mMMMMM: -NMMMMMMd-  +NMMMMMMMMMMMMd-
          :os+:sMMMMMMMMMMMMMMh. `sMMMo `mMMMMMN/  :mMMMMMMMMMMMMN+
                :NMMMMMMMMMMMMMMs.hMMh  yMMMMMMN`.yMMMMMMMMMMMMMy`
                 `hMMModN/yNMMMMMMMMMo+hMMMMMMMMNNMMMMMmdMMMMMm:
                   .--` .  `.--------------------------. `.--.

            ██╗  ██╗ █████╗  ██████╗██╗  ██╗███████╗███████╗██╗   ██╗
            ██║  ██║██╔══██╗██╔════╝██║ ██╔╝██╔════╝██╔════╝██║   ██║
            ███████║███████║██║     █████╔╝ █████╗  ███████╗██║   ██║
            ██╔══██║██╔══██║██║     ██╔═██╗ ██╔══╝  ╚════██║██║   ██║
            ██║  ██║██║  ██║╚██████╗██║  ██╗██║     ███████║╚██████╔╝
            ╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝╚═╝     ╚══════╝ ╚═════╝
--><!DOCTYPE html>
<html>
  <head>
    <title>HackFSU</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:url" content="http://hackfsu.com/">
    <meta property="og:image" content="http://hackfsu.com/#TODO">
    <meta property="og:title" content="HackFSU '16">
    <meta property="og:description" content="Build to learn. February 17-19th. 30 hours.">
    <meta name="google-site-verification" content="suuzMNcGGtUdtvQ1Te8M3HxORys7IlGjkDLvOGOkpA8">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/img/favicon/manifest.json">
    <meta name="msapplication-TileImage" content="/static/img/favicon/ms-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F2933">
    <meta name="theme-color" content="#2F2933">
    <link rel="stylesheet" type="text/css" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  </head>
  <body>
    <nav class="nabar-navbar-default">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <div class="navbar-brand">HackFSU</div>
      </div>
      <div class="collapse navbar-collapse" id="nav-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#faq">REGISTER</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#sponsors">SPONSORS</a></li>
          <li><a href="#">HELP</a></li>
          <li><a href="#">LOGIN</a></li>
        </ul>
      </div>
    </nav>
    <div class="content-container">
      <div class="section section-title">
        <h1>HackFSU</h1>
        <p><span><img class="img-responsive" src="#" alt="logo"></span><span>FEB. 17-19</span></p>
      </div>
      <form id="subscribe" data-parsley-ui-enabled="false">
        <input type="text" name="email" data-parsley-type="email" placeholder="Your Email" maxlength="100" required>
        <button type="submit">Subscribe</button>
      </form>
      <div class="section section-block-right">
        <div class="section-title">FAQS</div>
        <div class="section-content">
          <div class="faq-container">
            <div class="faq-item">
              <h4>When and where?</h4>
              <p>HackFSU '17 will take place from February 17th to the 19th at The Florida State University in Tallahassee, FL. We'll be sure to release more detailed information closer to the event.</p>
            </div>
            <div class="faq-item">
              <h4>How long is it?</h4>
              <p>You will have 30 hours to build but we will also have opening and closing ceremonies as well as the project expo. Prepare to spend your weekend with us starting Friday night and we’ll have you out around midday on Sunday. A more detailed scheduled will be released closer to the event.</p>
            </div>
            <div class="faq-item">
              <h4>Am I invited?</h4>
              <p>Anyone that is currently a college student or that has graduated in the past year is invited. High schoolers can go ahead and apply and we'll notify you if any problems come about.</p>
            </div>
            <div class="faq-item">
              <h4>Not a student?</h4>
              <p>Become a mentor! Give back to the community by helping hackers learn and build something awesome.</p>
            </div>
            <div class="faq-item">
              <h4>Food? Food.</h4>
              <p>Food. Enough free grub to keep you hacking for 30 hours. Dietary restrictions? No problem, we got you.</p>
            </div>
            <div class="faq-item">
              <h4>How do teams work?</h4>
              <p>Teams have a maximum of 4. If you don’t have a team, no sweat, we will have a mixer for you to discuss ideas and meet other hackers to join forces.</p>
            </div>
            <div class="faq-item">
              <h4>How does registration work?</h4>
              <p>After you register, you will receive a confirmation email reserving your spot.</p>
            </div>
            <div class="faq-item">
              <h4>What's it gonna cost me?</h4>
              <p>Everything we provide including food, wifi, caffeine, swag, and a place to create is free!</p>
            </div>
            <div class="faq-item">
              <h4>What can I build?</h4>
              <p>Whatever you can think up! We’ll have mentors to help you with web, mobile, hardware, design, and any development in between! TrakFree and Moodologist are some example projects from the past.</p>
            </div>
            <div class="faq-item">
              <h4>What if this is my first hackathon?</h4>
              <p>Awesome! We have prizes for newcomers, as the best way to learn is by building. There will be mentors to help you every step of the way. We all start somewhere, why not here?</p>
            </div>
            <div class="faq-item">
              <h4>What should I bring?</h4>
              <p>Bring your student ID, laptop and charger, a change of clothes, resume, toiletries, and a pillow and sleeping bag may be useful. You do not need a team, idea, food or drink, and leave anything illegal at home please.</p>
            </div>
            <div class="faq-item">
              <h4>Wait but I have another question...</h4>
              <p>Shoot us an email at <a href="mailto:info@hackfsu.com">info@hackfsu.com</a> or find us on Twitter!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section section-block-left">
        <div class="section-title">THE HACKING CULTURE</div>
        <div class="section-content">
          <p>Todo. Rutrum quod eligendi deleniti lectus, autem? Delectus libero, quos nullam sint officiis aperiam, dui, quo mattis, wisi? Necessitatibus voluptatibus reiciendis morbi repellat commodi quasi. Convallis lorem ab? Augue proident iure. Dolor nullam eros quo a sollicitudin. Penatibus interdum quasi integer, vitae vulputate mollitia, erat delectus ligula quidem phasellus sollicitudin habitant, nam nihil odio eum error distinctio, elementum non reprehenderit varius blanditiis ipsam, autem occaecat bibendum molestias platea suspendisse mi, nonummy scelerisque molestias? Sagittis earum lacinia quia incididunt, ullam nisl voluptatibus, assumenda aliquid scelerisque eos, litora cum aptent eaque curabitur auctor, odit dolorem? Placeat vitae hymenaeos integer molestiae maiores dolore, dignissimos.</p>
        </div>
      </div>
      <div class="section section-sponsors">
        <div class="section-title">SPONSORS</div>
        <div class="section-content">
          <p>Todo. Some messege about becoming a sponsor and that our sponsors will be announced soon.</p>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="center-block">
        <p><a href="http://www.twitter.com/HackFSU"><i class="fa fa-twitter"></i></a><a href="https://www.facebook.com/hackfsu"><i class="fa fa-facebook"></i></a><a href="https://www.instagram.com/hackfsu"><i class="fa fa-instagram"></i></a></p>
        <p>© 2016 HackFSU</p>
      </div>
    </div>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bower_components/parsleyjs/dist/parsley.min.js"></script>
    <script src="/static/js/plugins/ajaxForm.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/views/index/index.js"></script>
  </body>
</html>