html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background: #ded4b0;
}

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

    #header-container {
        z-index: 2;
        background-color: $color-dark;
        color: $color-light;
    }

    #content-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        z-index: 1;
        background-color: $color-medium;
        color: $color-dark;
        overflow-x: auto;

        #content {
            flex-grow: 1;
            background-color: $color-light;
            padding-bottom: 50px;
            box-shadow: 12px 0 15px -4px rgba($color-dark, 0.8),
                -12px 0 15px -4px rgba($color-dark, 0.8);

            > *:first-child {
                padding-top: 0;
                margin-top: 0;
            }

            > *:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }

    }

    #footer-container {
        z-index: 2;
        background-color: $color-dark;
        color: $color-light;

        #footer {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}

@media(max-width: $screen-sm-min) {
    // Mobile
    #content {
        padding-top: 15px;
        width: 100%;
    }
}


@media(min-width: $screen-sm-min) {
    // Bigger than mobile

    #page-container {
        #header,
        #content,
        #footer {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    #content {
        padding-top: 50px;
    }
}
