#mlh-trust-badge {
    display: block;
    max-width: 100px;
    position: fixed;
    right: 50px;
    top: 0;
    width: 10%;
    z-index: 10000;

    img {
        width: 100%;
    }
}

@media(max-width: 1500px) {
    #mlh-trust-badge {
        right: 10px;
        width: 80px;
    }
}

@media(max-width: 1356px) {
    #mlh-trust-badge {
        position: absolute;
        width: 53px;
    }
}
