// Screen sizes for media queries (from bootstrap)
$screen-sm-min: 768px;      // max for phones, min for tablets
$screen-md-min: 992px;      // min for regular desktops
$screen-lg-min: 1200px;     // min for large desktops

// Colors
$color-white: #FFFFFF;
$color-dark-gray: #2F2933;
$color-purple: #5E2F4F;
$color-light-blue: #86D2DD;
$color-teal: #939598;
$color-navy-blue: #2D3142;

$color-dark: $color-dark-gray;
$color-medium: $color-navy-blue;
$color-light: $color-white;

// Fonts
$font-header: 'Uni Sans Heavy CAPS';
$font-header-thin: 'Uni Sans Thin CAPS';
$font-body: 'Roboto';
