extends ../../../_pug/standardLayout.pug

block vars
    -
        var pageName = "Registration"
        var viewDir = "/static/views/registration/user"

block append styles
    link(rel="stylesheet" type="text/css" href=`${viewDir}/style.css`)

block append scripts
    script(src=`${viewDir}/script.js`)
    script(src="https://www.google.com/recaptcha/api.js" async defer)

block content
    h1 Registration
    p Registration is not ready yet unfortunately. We are coding in-between class, come back in a few days.
    h1 Registration Form
    form#register_user
        fieldset
            label(for="first_name") First Name *
            input(type="text" name="first_name" maxlength=100 placeholder="First name" required)
        fieldset
            label(for="last_name") Last Name *
            input(type="text" name="last_name" maxlength=100 placeholder="Last name" required)
        fieldset
            label(for="email") Email *
            input(type="email" name="email" maxlength=100 placeholder="Email" required)
        fieldset
            label(for="password") Password *
            input(type="password" name="password" minlength=8 maxlength=100 placeholder="Password" required)
        fieldset
            label(for="password2") Confirm Password *
            input(type="password" name="password2" minlength=8 maxlength=100 placeholder="Confirm Password" required data-parsley-equalto="#password")
        fieldset
            label(for="phone") Phone Number *
            input(type="tel" name="phone" maxlength=12 minlength=10 required)
        fieldset
            label(for="github") Github Link
            input(type="url" name="github" maxlength=100 placeholder="Your Github")
        fieldset
            label(for="linkedin") LinkedIn Profile Link
            input(type="url" name="github" maxlength=100 placeholder="Your LinkedIn")
        fieldset
            label(for="diet") Dietary restrictions?
            textarea(name="diet" placeholder="Vegetarian, vegan, etc.")
        fieldset
            label(for="shirt_size") Shirt Size *
            select(name="shirt_size" required)
                option(value="" disabled selected) Select shirt size
                option(value="S") Small
                option(value="M") Medium
                option(value="L") Large
                option(value="XL") X-Large
        fieldset
            label(for="gender") Your Gender
            select(name="gender")
                option(value="" disabled selected) Select your gender
                option(value="Male") Male
                option(value="Female") Female
                option(value="Other") Other
                option(value="na") Prefer not to answer
            span.note Answering this optional field is anonymous and will not be associated with your account.
        fieldset
            label(for="ethnicity") Your Ethnicity
            select(name="ethnicity")
                option(value="" disabled selected) Select ethnicity
                option(value="na") Prefer not to answer
            span.note Answering this optional field is anonymous and will not be associated with your account.
        fieldset
            label(for="mlhcoc") MLH Code of Conduct
            input(type="checkbox" name="mlhcoc" value="true" required)
            | I will abide by the #[a(href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf") MLH Code of Conduct] for the duration of this event.
        fieldset
            label(for="mlhtac") MLH Terms and Conditions
            input(type="checkbox" name="mlhtcpp" value="true" required)
            | I agree to the terms of both the #[a(href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions") MLH Contest Terms and Conditions] and the #[a(href="https://mlh.io/privacy") MLH Privacy Policy]. Please note that you may receive pre and post-event informational e-mails and occasional messages about hackathons from MLH as per the MLH Privacy Policy.
        fieldset
            .g-recaptcha(data-sitekey=keys.reCaptchaSiteKey)

        button(type="submit") Submit
