extends ../../../_pug/userLayout.pug

block vars
    -
        var pageName = "Organizer Registration"
        var viewDir = "/static/views/registration/organizer"

block append styles
    link(rel="stylesheet" type="text/css" href=`${viewDir}/style.css`)

block append scripts
    script(src=`${viewDir}/script.js`)

block content
    h1 Organizer Registration
    form#register
        .form-section
            fieldset.row
                .field-label.col-md-4 What organization are you a part of and/or who do you know on our organizer team? *
                .col-md-8
                    input.responsive(type="text" name="affiliation" maxlength="100" placeholder="Where you work, TechNole, Nick, Jared, etc." required)
            fieldset.row
                .field-label.col-md-4 What organizer teams are you in and/or want to join? *
                .col-md-8
                    input.responsive(type="text" name="teams" maxlength="100" placeholder="Logistics, Sponsorship, Development, etc." required)

            fieldset.row
                .field-label.col-md-4 Why do you want to be an organizer? *
                .col-md-8
                    textarea.responsive(maxlength="500" name="motivation" placeholder="It's fun, I want the experience, I love HackFSU, Idk plz halp, etc." required)
            fieldset.row
                .field-label.col-md-4 HackFSU Organizer Disclosure Agreement *
                .col-md-8: div
                    input(type="checkbox" id="terms" name="terms" required)
                    label(for="terms") I agree to and will abide by the #[a(href="/static/res/hackfsu-organizer-disclosure-agreement.pdf" target="_blank") HackFSU Organizer Disclosure Agreement].

        .form-section
            .text-right
                button.btn.btn-form(type="submit") Submit

