extends ../../../_pug/standardLayout.pug

block vars
    -
        var pageName = "Hype"
        var viewDir = "/static/views/hype/index"

block content
    h1 Hype Directory
    ul
        li: a(href="/hype/registration") Hype up dat registration
