extends ../../../_pug/userLayout.pug

block vars
    -
        var pageName = "Judge"
        var viewDir = "/static/views/judge/index"
        var DataTables = true

block append scripts
    script(src=`${viewDir}/script.js`)

block content
    h1 Judge
    p Pick one of you assigned hacks and judge them! If you do not have any left, go to the organizer table for another round.

    h3 Assigned Hacks
    table#hacks.table.table-striped.table-bordered(cellspacing="0" width="100%")
