extends ../../../_pug/standardLayout.pug

block vars
    -
        var pageName = "User Login"
        var viewDir = "/static/views/user/login"

block append scripts
    script(src=`${viewDir}/script.js`)

block content
    h1 Login
    form#login
        .form-section
            fieldset.row
                .field-label.col-md-2 Email *
                .col-md-10: input.responsive(type="email" name="email" maxlength=100 placeholder="your@email.com" required)
            fieldset.row
                .field-label.col-md-2 Password *

                .col-md-10: input.responsive(type="password" id="password" name="password" minlength=8 maxlength=1000 placeholder="********************" required)
        .form-section
            fieldset.row
                .field-label.col-md-3: a(href="/user/password/reset" title="Reset Password") Forgot your password?
                .col-md-9.text-right
                    button.btn.btn-form(type="submit") Log in