extends ../../../_pug/userLayout.pug

block vars
    -
        var pageName = "Attendee RSVP"
        var viewDir = "/static/views/user/rsvp"

block append styles
    link(rel="stylesheet" type="text/css" href=`${viewDir}/style.css`)

block append scripts
    script(src=`${viewDir}/script.js`)

block content
    h1 Confirm your attendance
    br
    form#rsvp
        .form-section
            fieldset.row
                .field-label.col-md-4 Will you be attending? *
                .col-md-8: .row
                    .col-md-3
                        input(type="radio" name="rsvp" id="rsvp_yes" value="true" required)
                        label(for="rsvp_yes") Definitely!
                    .col-md-9
                        input(type="radio" name="rsvp" id="rsvp_no" value="false" required)
                        label(for="rsvp_no") No, disregard my registration.
            fieldset.row
                .field-label.col-md-4 Anything else you would like to tell us?
                .col-md-8: .row
                    .col-md-12: textarea.responsive(maxlength="500" name="extra_info" placeholder="I need special accommodations, I am deathly allergic to peanuts, I like turtles, etc.")

        .form-section
            .text-right
                button.btn.btn-form(type="submit") #[span.fa.fa-smile-o]&nbsp;&nbsp;Confirm&nbsp;&nbsp;#[span.fa.fa-smile-o]

