
  * {
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
  }

  .conf-cont {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
  }

  .confetti {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #f00;
    opacity: 0.0;
    -webkit-animation-name: fallsway;
            animation-name: fallsway;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: none;
            animation-fill-mode: none;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  .confetti:nth-child(1) {
    z-index: 1;
    -webkit-animation-name: fallsway1;
            animation-name: fallsway1;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
    background-color: #cd2021;
  }
  .confetti:nth-child(2) {
    z-index: 2;
    -webkit-animation-name: fallsway2;
            animation-name: fallsway2;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
    background-color: #4490b8;
  }
  .confetti:nth-child(3) {
    z-index: 3;
    -webkit-animation-name: fallsway3;
            animation-name: fallsway3;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    background-color: #498786;
  }
  .confetti:nth-child(4) {
    z-index: 4;
    -webkit-animation-name: fallsway4;
            animation-name: fallsway4;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
    background-color: #67faae;
  }
  .confetti:nth-child(5) {
    z-index: 5;
    -webkit-animation-name: fallsway5;
            animation-name: fallsway5;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    background-color: #fbd370;
  }
  .confetti:nth-child(6) {
    z-index: 6;
    -webkit-animation-name: fallsway6;
            animation-name: fallsway6;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
    background-color: #0b9576;
  }
  .confetti:nth-child(7) {
    z-index: 7;
    -webkit-animation-name: fallsway7;
            animation-name: fallsway7;
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
    background-color: #aa750a;
  }
  .confetti:nth-child(8) {
    z-index: 8;
    -webkit-animation-name: fallsway8;
            animation-name: fallsway8;
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
    background-color: #ca1f6f;
  }
  .confetti:nth-child(9) {
    z-index: 9;
    -webkit-animation-name: fallsway9;
            animation-name: fallsway9;
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
    background-color: #c8ca84;
  }
  .confetti:nth-child(10) {
    z-index: 10;
    -webkit-animation-name: fallsway10;
            animation-name: fallsway10;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    background-color: #c1af9b;
  }
  .confetti:nth-child(11) {
    z-index: 11;
    -webkit-animation-name: fallsway11;
            animation-name: fallsway11;
    -webkit-animation-delay: 2.2s;
            animation-delay: 2.2s;
    background-color: #1c5b9c;
  }
  .confetti:nth-child(12) {
    z-index: 12;
    -webkit-animation-name: fallsway12;
            animation-name: fallsway12;
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s;
    background-color: #ce365a;
  }
  .confetti:nth-child(13) {
    z-index: 13;
    -webkit-animation-name: fallsway13;
            animation-name: fallsway13;
    -webkit-animation-delay: 2.6s;
            animation-delay: 2.6s;
    background-color: #436fad;
  }
  .confetti:nth-child(14) {
    z-index: 14;
    -webkit-animation-name: fallsway14;
            animation-name: fallsway14;
    -webkit-animation-delay: 2.8s;
            animation-delay: 2.8s;
    background-color: #ea05c1;
  }
  .confetti:nth-child(15) {
    z-index: 15;
    -webkit-animation-name: fallsway15;
            animation-name: fallsway15;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    background-color: #1debc7;
  }
  .confetti:nth-child(16) {
    z-index: 16;
    -webkit-animation-name: fallsway16;
            animation-name: fallsway16;
    -webkit-animation-delay: 3.2s;
            animation-delay: 3.2s;
    background-color: #d07c2e;
  }
  .confetti:nth-child(17) {
    z-index: 17;
    -webkit-animation-name: fallsway17;
            animation-name: fallsway17;
    -webkit-animation-delay: 3.4s;
            animation-delay: 3.4s;
    background-color: #dbb8ae;
  }
  .confetti:nth-child(18) {
    z-index: 18;
    -webkit-animation-name: fallsway18;
            animation-name: fallsway18;
    -webkit-animation-delay: 3.6s;
            animation-delay: 3.6s;
    background-color: #e27e45;
  }
  .confetti:nth-child(19) {
    z-index: 19;
    -webkit-animation-name: fallsway19;
            animation-name: fallsway19;
    -webkit-animation-delay: 3.8s;
            animation-delay: 3.8s;
    background-color: #490219;
  }
  .confetti:nth-child(20) {
    z-index: 20;
    -webkit-animation-name: fallsway20;
            animation-name: fallsway20;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    background-color: #d543e8;
  }
  .confetti:nth-child(21) {
    z-index: 21;
    -webkit-animation-name: fallsway21;
            animation-name: fallsway21;
    -webkit-animation-delay: 4.2s;
            animation-delay: 4.2s;
    background-color: #d543e8;
  }
  .confetti:nth-child(22) {
    z-index: 22;
    -webkit-animation-name: fallsway22;
            animation-name: fallsway22;
    -webkit-animation-delay: 4.4s;
            animation-delay: 4.4s;
    background-color: #d543e8;
  }
  .confetti:nth-child(23) {
    z-index: 23;
    -webkit-animation-name: fallsway23;
            animation-name: fallsway23;
    -webkit-animation-delay: 4.4s;
            animation-delay: 4.4s;
    background-color: #d543e8;
  }
  .confetti:nth-child(24) {
    z-index: 24;
    -webkit-animation-name: fallsway24;
            animation-name: fallsway24;
    -webkit-animation-delay: 4.6s;
            animation-delay: 4.6s;
    background-color: #d543e8;
  }
  .confetti:nth-child(25) {
    z-index: 25;
    -webkit-animation-name: fallsway25;
            animation-name: fallsway25;
    -webkit-animation-delay: 4.8s;
            animation-delay: 4.8s;
    background-color: #d543e8;
  }
  .confetti:nth-child(26) {
    z-index: 26;
    -webkit-animation-name: fallsway26;
            animation-name: fallsway26;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
    background-color: #d543e8;
  }
  .confetti:nth-child(27) {
    z-index: 27;
    -webkit-animation-name: fallsway27;
            animation-name: fallsway27;
    -webkit-animation-delay: 5.2s;
            animation-delay: 5.2s;
    background-color: #d543e8;
  }
  .confetti:nth-child(28) {
    z-index: 28;
    -webkit-animation-name: fallsway28;
            animation-name: fallsway28;
    -webkit-animation-delay: 5.4s;
            animation-delay: 5.4s;
    background-color: #d543e8;
  }
  .confetti:nth-child(29) {
    z-index: 29;
    -webkit-animation-name: fallsway29;
            animation-name: fallsway29;
    -webkit-animation-delay: 5.6s;
            animation-delay: 5.6s;
    background-color: #d543e8;
  }
  .confetti:nth-child(30) {
    z-index: 30;
    -webkit-animation-name: fallsway30;
            animation-name: fallsway30;
    -webkit-animation-delay: 5.8s;
            animation-delay: 5.8s;
    background-color: #d543e8;
  }

  @-webkit-keyframes fallsway1 {
    0% {
      top: -5%;
      left: 21%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 28%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 2%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }

  @keyframes fallsway1 {
    0% {
      top: -5%;
      left: 21%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 28%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 2%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway2 {
    0% {
      top: -5%;
      left: 51%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 61%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 31%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway2 {
    0% {
      top: -5%;
      left: 51%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 61%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 31%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway3 {
    0% {
      top: -5%;
      left: 42%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 81%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 43%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway3 {
    0% {
      top: -5%;
      left: 42%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 81%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 43%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway4 {
    0% {
      top: -5%;
      left: 15%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 60%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 94%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway4 {
    0% {
      top: -5%;
      left: 15%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 60%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 94%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway5 {
    0% {
      top: -5%;
      left: 58%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 91%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 49%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway5 {
    0% {
      top: -5%;
      left: 58%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 91%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 49%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway6 {
    0% {
      top: -5%;
      left: 22%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 44%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 28%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway6 {
    0% {
      top: -5%;
      left: 22%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 44%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 28%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway7 {
    0% {
      top: -5%;
      left: 54%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 66%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 25%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway7 {
    0% {
      top: -5%;
      left: 54%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 66%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 25%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway8 {
    0% {
      top: -5%;
      left: 3%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 38%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 27%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway8 {
    0% {
      top: -5%;
      left: 3%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 38%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 27%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway9 {
    0% {
      top: -5%;
      left: 15%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 25%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 89%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway9 {
    0% {
      top: -5%;
      left: 15%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 25%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 89%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway10 {
    0% {
      top: -5%;
      left: 25%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 71%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 94%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway10 {
    0% {
      top: -5%;
      left: 25%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 71%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 94%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway11 {
    0% {
      top: -5%;
      left: 59%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 40%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 50%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway11 {
    0% {
      top: -5%;
      left: 59%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 40%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 50%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway12 {
    0% {
      top: -5%;
      left: 33%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 10%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 72%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway12 {
    0% {
      top: -5%;
      left: 33%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 10%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 72%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway13 {
    0% {
      top: -5%;
      left: 63%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 64%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 76%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway13 {
    0% {
      top: -5%;
      left: 63%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 64%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 76%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway14 {
    0% {
      top: -5%;
      left: 6%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 40%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 60%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway14 {
    0% {
      top: -5%;
      left: 6%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 40%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 60%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway15 {
    0% {
      top: -5%;
      left: 80%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 64%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 22%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway15 {
    0% {
      top: -5%;
      left: 80%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 64%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 22%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway16 {
    0% {
      top: -5%;
      left: 19%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 10%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 86%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway16 {
    0% {
      top: -5%;
      left: 19%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 10%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 86%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway17 {
    0% {
      top: -5%;
      left: 37%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 57%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 47%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway17 {
    0% {
      top: -5%;
      left: 37%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 57%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 47%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway18 {
    0% {
      top: -5%;
      left: 56%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 45%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 74%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway18 {
    0% {
      top: -5%;
      left: 56%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 45%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 74%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway19 {
    0% {
      top: -5%;
      left: 70%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 90%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 42%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway19 {
    0% {
      top: -5%;
      left: 70%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 90%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 42%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway20 {
    0% {
      top: -5%;
      left: 5%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway20 {
    0% {
      top: -5%;
      left: 5%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway21 {
    0% {
      top: -5%;
      left: 7%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway21 {
    0% {
      top: -5%;
      left: 7%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway22 {
    0% {
      top: -5%;
      left: 9%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 50% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 70%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 60% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 91%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway22 {
    0% {
      top: -5%;
      left: 9%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 50% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 70%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 60% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway23 {
    0% {
      top: -5%;
      left: 11%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway23 {
    0% {
      top: -5%;
      left: 11%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway24 {
    0% {
      top: -5%;
      left: 17%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway24 {
    0% {
      top: -5%;
      left: 17%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway25 {
    0% {
      top: -5%;
      left: 31%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway25 {
    0% {
      top: -5%;
      left: 31%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway26 {
    0% {
      top: -5%;
      left: 25%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway26 {
    0% {
      top: -5%;
      left: 25%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway27 {
    0% {
      top: -5%;
      left: 82%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway27 {
    0% {
      top: -5%;
      left: 82%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway28 {
    0% {
      top: -5%;
      left: 5%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway28 {
    0% {
      top: -5%;
      left: 5%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway29 {
    0% {
      top: -5%;
      left: 5%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway29 {
    0% {
      top: -5%;
      left: 5%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway30 {
    0% {
      top: -5%;
      left: 5%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @keyframes fallsway30 {
    0% {
      top: -5%;
      left: 5%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    25% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    50% {
      left: 80%;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
    75% {
      left: 100% -random(105);
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
    }
    100% {
      top: 100%;
      left: 41%;
      opacity: 1.0;
      -webkit-transform: skew(-30deg);
              transform: skew(-30deg);
    }
  }
  @-webkit-keyframes fallsway {
    0% {
      top: -10%;
      left: 41%;
      opacity: 1.0;
    }
    25% {
      left: 14%;
    }
    50% {
      left: 86%;
    }
    75% {
      left: 8%;
    }
    100% {
      top: 110%;
      left: 21%;
      opacity: 1.0;
    }
  }
  @keyframes fallsway {
    0% {
      top: -10%;
      left: 41%;
      opacity: 1.0;
    }
    25% {
      left: 14%;
    }
    50% {
      left: 86%;
    }
    75% {
      left: 8%;
    }
    100% {
      top: 110%;
      left: 21%;
      opacity: 1.0;
    }
  }
