@import 'confetti'

@font-face
  font-family: 'Graphik'
  font-style: normal
  font-weight: 400
  src: url("/fonts/Graphik-Light.woff")

@font-face
  font-family: 'Graphik'
  font-style: normal
  font-weight: 700
  src: url("/fonts/Graphik-Bold.woff")

@font-face
  font-family: 'HackFSU5'
  font-style: normal
  font-weight: 700
  src: url("/fonts/hackfsu5.woff")

@mixin Graphik($weight:400)
  font-family: 'Graphik', sans-serif
  @if $weight == 400
    font-weight: 400
  @else
    font-weight: 700

@mixin Five-Font
  font-family: 'HackFSU5', 'Graphik', sans-serif

body
  height: 100%

  *
    box-sizing: border-box


section.header
  text-align: center
  //background-color: white
  height: 100%
  padding: 0
  overflow: hidden

  display: flex
  flex-direction: column
  justify-content: center

  a
    color: coral
    position: relative
    z-index: 1

  .celebrationImg
    position: relative
    padding-top: 5px
    max-width: 70%

  .confetti-wrapper
    position: absolute
    display: flex
    flex-direction: column
    height: 100vh
    width: 100vw
    min-width: 100%

  #submit-button
    background-color: coral;

    p
      padding-bottom: 20px
      margin: 0 auto


  .content
    max-width: 500px
    //padding-bottom: 100px

    strong
      font-weight: 900

    .heading
      font-size: 80px

    .heading p
      margin: 0px

    .subheading
      font-size: 20px
      margin-top: -50px
      padding-top: 30px

      strong
        color: coral

    button
      background-color: coral
      border: none
      color: white
      border-radius: 12px
      text-align: center
      font-size: 16px
      width: 10em

    .form.col.s12 .selection .buttons a
      padding-left: 10px
