a#mlh-trust-badge(href="https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=white" target="_blank")
    img(src="/static/img/logos/mlh/mlh-badge-white.png" alt="Major League Hacking 2017 Hackathon Season")
