.btn-help {
    background-color: transparent;
    border-radius: 3px;
    border: 0.2em solid $form-border-color;
    padding: 10px;
    outline: 0;
    font-weight: 600;
    transition: 200ms all;
    color: $form-border-color;
    font-size: 16px;
}
.btn-help:hover:not(:disabled) {
    background-color: $form-border-color;
    color: #fff;
    box-shadow: none;
}