.footer
    .center-block
        p
            a(href=links.twitter): i.fa.fa-twitter
            a(href=links.facebook): i.fa.fa-facebook
            a(href=links.instagram): i.fa.fa-instagram
        p © #{((new Date()).getYear() + 1900)} HackFSU
