extends ../../../_pug/userLayout.pug

block vars
    -
        var pageName = "Mentor"
        var viewDir = "/static/views/mentor/index"
        var DataTables = true

block append scripts
    script(src=`${viewDir}/script.js`)

block content
    h1 Mentor
    p The mentor system is based on user submitted help requests. Attendees may visit #[a(href="/help" target="_blank") hackfsu.com/help] and submit a help request. These are displayed in the table below.
    p As a mentor, it is your job to check this table often to find people to help. When you see a request that is 'Waiting for mentor!' and you want to answer the call, claim the request, find the attendee, and help them out. Request claiming is done by clicking on a request in the table, clicking the 'View Full Request' button, and then clicking 'Claim' at the bottom right-hand corner of the request page. You may also release your claim of a request in the same manner. It is important to claim requests you work on in order to let other mentors know what has already been taken care of and which people still need help.
    p If you have any questions, ask an organizer. Thanks for being an awesome mentor! Good luck!
    p: i This page will automatically refresh every two minutes in order to keep the table up-to-date.

    .flex-row.flex-justify-around.flex-wrap
        span: a(href="#pending") Pending
        span: a(href="#claimed-user") Claimed by You
        span: a(href="#claimed-other") Claimed by Others


    a#pending
    h3 Pending Help Requests
    table#requests-pending.table.table-striped.table-bordered(cellspacing="0" width="100%")
    br

    a#claimed-user
    h3 Your Claimed Help Requests
    table#requests-claimed-user.table.table-striped.table-bordered(cellspacing="0" width="100%")
    br

    a#claimed-other
    h3 Help Requests Claimed By Others
    table#requests-claimed-other.table.table-striped.table-bordered(cellspacing="0" width="100%")
    br