meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
meta(name='description' content='')
meta(name='author' content='')

meta(property='og:url' content='http://hackfsu.com/')
meta(property='og:image' content='http://hackfsu.com/#TODO')
meta(property='og:title' content="HackFSU '16")
meta(property='og:description' content='Build to learn. February 17-19th. 30 hours.')

meta(name='google-site-verification' content='suuzMNcGGtUdtvQ1Te8M3HxORys7IlGjkDLvOGOkpA8')

// TODO Favicon
