block append content

  nav.navbar.is-transparent.is-fixed-top(role="navigation" aria-label="main navigation")
      .navbar-brand
        a.navbar-item(href="/#")
          img(src="/img/feather-2018-black.svg" alt="HackFSU 5" width="112" height="32")

        button.button.navbar-burger(data-target="navMenu")
          span
          span
          span

        script.
          document.addEventListener('DOMContentLoaded', function () {

            // Get all "navbar-burger" elements
            var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

              // Add a click event on each of them
              $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {

                  // Get the target from the "data-target" attribute
                  var target = $el.dataset.target;
                  var $target = document.getElementById(target);

                  // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                  $el.classList.toggle('is-active');
                  $target.classList.toggle('is-active');

                });
              });
            }

          });


      .navbar-menu#navMenu
        .navbar-end
          a.navbar-item(href="/#") Home
          a.navbar-item(href="/#about") About
          a.navbar-item(href="/#faqs") FAQs
          a.navbar-item(href="/#sponsors") Sponsors
          a.navbar-item(href="https://join.slack.com/t/hackfsu5mentors/shared_invite/enQtMzI0MDE1MTkyMDgyLWRlNWY0YjE3ZDQ4MDZlMWI5ZWM3N2JjZjllOGI1OTUzZTc4YTJlODAxMTlhMWRlZjU3MTNlODA0ZTllZmNmN2Y") Mentors
          .navbar-item
            if profile
              a.button.is-primary.is-rounded(href="/logout") Log Out
            else
              a.button.is-primary.is-rounded(href="/login") Log In
