//- Bootstrap navbar with overwridden styles
mixin navbar(links)
    nav.nabar.navbar-custom
        .navbar-brand
            a(href="/")
                //- img.img-reponsive(src="#logo")
                | HackFSU

        .navbar-header
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false")
                span.sr-only Toggle navigation
                .fa.fa-bars

        #nav-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                each link in links
                    li(class=(pageName === link.name? 'active' : '')): a(href=link.url) #{link.name}
