extends ../../../_pug/standardLayout.pug

block vars
    - var pageName = "500 Server Error"

block content
    h1 Oh no!
    p Something messed up. It's probably our fault, try going back or refreshing your browser. If the problem persists shoot us an email at #[a(href="mailto:dev@hackfsu.com") dev@hackfsu.com] or just crawl up into a fetal position and cry yourself to sleep.
