extends ../../../_pug/userLayout.pug

block vars
    -
        var pageName = "Mentor Registration"
        var viewDir = "/static/views/registration/mentor"

block append styles
    link(rel="stylesheet" type="text/css" href=`${viewDir}/style.css`)

block append scripts
    script(src=`${viewDir}/script.js`)

block content
    h1 TODO: #{pageName}
