extends ../../../_pug/userLayout.pug

block vars
    -
        var pageName = "Organize"
        var viewDir = "/static/views/organize/index"

block content

    h1 Organize

    ul
        li: a(href="/organize/attendees") Attendee information, check-in
        li: a(href="/organize/judging/expo") Expo Management
        li: a(href="/organize/judging/results") Expo Results

    h3 Export CSVs
    p Be aware these may take a few minutes to download, as the data is generated upon request.
    ul
        li: a(href="/api/hacker/get/csv/by_school" target="_blank" download) Hacker data and school names
        li: a(href="/api/organizer/get/csv/roster" target="_blank" download) Organizer Roster
        li: a(href="/api/hackathon/get/csv/attendees_checked_in" target="_blank" download) Checked in attendees
        li: a(href="/api/judge/get/csv/hacks_with_manual_criteria" target="_blank" download) Hacks for manual judging
        li: a(href="/api/hacker/get/csv/resume_links" target="_blank" download) Approved hacker data with resume links