.faq-item: .faq-item-box
    p.faq-item-title When and where?
    p.faq-item-text HackFSU '17 will take place from February 17th to the 19th at The Florida State University in Tallahassee, FL. We'll be sure to release more detailed information closer to the event.

.faq-item: .faq-item-box
    p.faq-item-title How long is it?
    p.faq-item-text You will have 30 hours to build but we will also have opening and closing ceremonies as well as the project expo. Prepare to spend your weekend with us starting Friday night and we’ll have you out around midday on Sunday. A more detailed scheduled will be released closer to the event.

.faq-item: .faq-item-box
    p.faq-item-title Am I invited?
    p.faq-item-text Anyone that is currently a college student or that has graduated in the past year is invited. High schoolers can go ahead and apply and we'll notify you if any problems come about.

.faq-item: .faq-item-box
    p.faq-item-title Not a student?
    p.faq-item-text Become a mentor! Give back to the community by helping hackers learn and build something awesome.

.faq-item: .faq-item-box
    p.faq-item-title Food?
    p.faq-item-text Food. Enough free grub to keep you hacking for 30 hours. Dietary restrictions? No problem, we got you.

.faq-item: .faq-item-box
    p.faq-item-title How do teams work?
    p.faq-item-text Teams have a maximum of 4. If you don’t have a team, no sweat, we will have a mixer for you to discuss ideas and meet other hackers to join forces.

.faq-item: .faq-item-box
    p.faq-item-title What's it gonna cost me?
    p.faq-item-text Everything we provide including food, wifi, caffeine, swag, and a place to create is free!

.faq-item: .faq-item-box
    p.faq-item-title What can I build?
    p.faq-item-text Whatever you can think up! We’ll have mentors to help you with web, mobile, hardware, design, and any development in between! TrakFree and Moodologist are some example projects from the past.

.faq-item: .faq-item-box
    p.faq-item-title What should I bring?
    p.faq-item-text Bring your student ID, laptop and charger, a change of clothes, resume, toiletries, and a pillow and sleeping bag may be useful. You do not need a team, idea, food or drink, and leave anything illegal at home please.

.faq-item: .faq-item-box
    p.faq-item-title How does registration work?
    p.faq-item-text After you register, you will receive a confirmation email reserving your spot.

.faq-item: .faq-item-box
    p.faq-item-title What if this is my first hackathon?
    p.faq-item-text Awesome! We have prizes for newcomers, as the best way to learn is by building. There will be mentors to help you every step of the way. We all start somewhere, why not here?

.faq-item: .faq-item-box
    p.faq-item-title Wait but I have another question...
    p.faq-item-text Shoot us an #[a(href="mailto:info@hackfsu.com") email] or find us on #[a(href=links.twitter target="_blank") Twitter]. We are happy to help!
