extends ../layout

block append styles
  link(rel='stylesheet', href='/css/index.css')


block content

  //- include segments/pageloader.pug

  include segments/header.pug
  include segments/about.pug
  include segments/schedule.pug
  //- include segments/culture.pug
  include segments/sponsors.pug
  include segments/footer.pug
