extends ../layout


block content
  include ../partials/mlh-badge.pug

  section.header.landing

    .confetti-wrapper.container
      .background-Letters


    .content.container
      .heading
        .presenting FAMU & FSU PRESENTS
        img.hackSymbol(src="/img/index/hackFSUSymbol.svg")
        p HACKFSU
          strong  5

      .preview-form
        .column.is-8-widescreen.content-wrap.row
          .date March 2 - 3 / FLORIDA STATE UNIVERSITY


          .form.col.s12
            .select-card.col.s12
              .submit.row
                .col.s6
                  a#submit-button.waves-effect.waves-teal.btn-large.col.s12
                    //img.celebrationImg(src="/img/celebration.png")
                    p Register

    section.footer
      .content.container
        p
          a(href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf") MLH Code Of Conduct
