extends ../layout

block append styles
  link(rel='stylesheet', href='/css/index.css')


block content

  //- include segments/pageloader.pug
  include ../partials/mlh-badge.pug

  include segments/header.pug
  include segments/about.pug
  include segments/sponsors.pug
  include segments/footer.pug
