extends ../layout


block content
  include ../partials/mlh-badge.pug

  section.header.landing

    .confetti-wrapper.container
      .conf-cont
        .confetti

    .content.container
      .heading
        p HACKFSU
          strong  5
      .subheading
        p DARE TO BE
          strong  BOLD

      .preview-form
        .column.is-8-widescreen.content-wrap.row
          .date March 2nd - 4th

          .form.col.s12
            .select-card.col.s12
              .selection
                select#interest.validate.card.white
                  option(value="" disabled selected) I want to be a &hellip;
                  option(value="hacker") Hacker
                  option(value="volunteer") Volunteer
                  option(value="sponsor") Sponsor
              .card.white
                input#email.input-field(type="email", placeholder="My Email Is ...")
              .submit.row
                .col.s12
                  a#submit-button.waves-effect.waves-teal.btn-large.col.s12
                    //img.celebrationImg(src="/img/celebration.png")
                    p Submit!

    section.footer
      .content.container
        p
          a(href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf") MLH Code Of Conduct
