extends ../layout

block append styles
  link(rel='stylesheet', href='/css/index.css')


block content
  include ../partials/mlh-badge.pug

  include segments/header.pug
  include segments/content1.pug
  include segments/footer.pug
