@import '../../_sass/vars';

/**
 * Overwrite regular layout
 */
 body {
     background-color: #F2F6FB;
 }
#page-container #content-container {
    background: url('/static/img/patterns/tech-pattern-white.png');
    background-size: 800px 800px;
    background-position: 50% 0;
}

#title-section {
    background-color: $color-dark;
    color: $color-light;
    padding-top: 20px;

    $title-image-height: 300px;
    $title-image-border: 30px;

    > .container {
        display: flex;
        flex-direction: column;
    }

    .title-images-container {
        display: block;
        flex-grow: 1;
    }

    .title-images {
        display: flex;
        height: 500px;
        align-content: stretch;
    }

    .title-image {
        display: inline-block;
        height: 100%;
        flex-grow: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-origin: content-box;
        background-clip: content-box;
    }

    .title-image-one {
        background-image: url('/static/img/pictures/oculus-yellow.jpg');
        background-position: 50% 50%;
        border-right: $title-image-border/2 solid transparent;
    }

    .title-image-two {
        background-image: url('/static/img/pictures/rutherford.jpg');
        background-position: 50% 50%;
        border-left: $title-image-border/2 solid transparent;
        border-right: $title-image-border/2 solid transparent;
    }

    .title-image-three {
        background-image: url('/static/img/pictures/camera.jpg');
        background-position: 50% 50%;
        border-left: $title-image-border/2 solid transparent;
    }


    .title-content {
        display: flex;
        padding-top: 70px;
        padding-bottom: 70px;

        > * {
            display: inline-block;
            height: 200px;
        }
    }

    .title-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        margin-right: 25px;

        .button {
            font-size: 25px;
        }
    }

    .title-text {
        text-align: left;
        font-size: 50px;

        .title-text-title {
            font-family: $font-header;
            font-size: 2.5em;
        }

        .title-text-date-location {
            font-family: $font-header;
            font-style: italic;
            font-size: 0.82em;
            margin: 0;
        }

        img {
            height: 0.75em;
            margin-top: -0.25em;
            width: auto;
            padding-right: 0.25em;
        }
        #date {
            display: block;
            margin-right: 0.4em;
        }
        #fsu {
            display: inline-block;
        }
    }
}

.section {
    $section-margin: 200px;
    $title-offset: 63px;
    width: 100%;
    margin-top: ($section-margin - $title-offset);

    .section-title-container {
        position: relative;
        display: block;
        width: 100%;
        font-size: 70px;
        margin-bottom: (-1)*$title-offset;
        z-index: 2;
    }

    .section-content-container {
        padding-top: $title-offset*1.5;
        padding-bottom: $title-offset*1.5;
        position: relative;
        display: flex;
        width: 100%;
        z-index: 1;
        font-size: 24px;
    }

    .section-title {
        display: flex;
        align-items: stretch;
        font-family: $font-header;
    }
    .section-title-spacer-empty {
        flex-grow: 2;
        background-color: transparent;
    }
    .section-title-spacer-filled {
        flex-grow: 1;
        background-color: transparent;
    }
    .section-title-text {
        padding: 0.5em 0.5em;
        background-color: transparent;
    }

    &.section-right {
        .section-title-text,
        .section-title-spacer-filled {
            background-color: $color-teal;
            color: $color-light;
        }
    }

    &.section-left {
        margin-top: ($section-margin + $title-offset);

        .section-title-container {
            margin-bottom: (-1)*$title-offset*3;

            .section-title-text,
            .section-title-spacer-filled {
                background-color: $color-light;
                color: $color-purple;
            }
        }

        .section-content-container {
            padding-top: $title-offset*4;
            background-color: $color-purple;
            color: $color-light;
        }
    }

    &.section-center {
        margin-top: $section-margin;

        .section-title-container {
            margin-bottom: 0;
            padding-top: $title-offset;
            padding-bottom: $title-offset;
            background-color: $color-light;
        }
        .section-content-container {
            padding-top: 0px;
            background-color: $color-light;
        }

        .section-title-text {
            flex-grow: 1;
            text-align: center;
            color: $color-purple;
        }
    }
}

#what-is-section {
    color: $color-light;

    .section-content-container {
        background-color: $color-purple;
    }

    .row {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .what-is-info {
        display: flex;
        align-content: stretch;
        width: 100%;
        padding: 50px 0;
    }

    .icon-container {
        display: inline-block;
        width: 25%;
        margin-right: 50px;
    }
    .icon {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-origin: content-box;
        padding: 10px;

        &.icon-computer-chip {
            background-image: url('/static/img/icons/computer-chip.png')
        }
        &.icon-laptop {
            background-image: url('/static/img/icons/laptop.png')
        }
        &.icon-gameboy {
            background-image: url('/static/img/icons/gameboy.png')
        }
    }

    .description {
        display: inline-block;
        width: 70%;
        flex-grow: 1;

        h3 {
            font-family: $font-header-thin;
            font-size: 40px;

            span {
                font-family: $font-header;
            }
        }
    }
}

#schedule-section {
    .section-content-container {
        background-color: transparent;
        background-image: url('/static/img/pictures/time.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .schedule-temp-filler {
        padding-bottom: 600px;
    }
}

#faq-section {
    .section-content-container {
        background-color: $color-light-blue;
    }

    .faq-item-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }
    .faq-item-box {
        width: 330px;
        margin: 20px;
        padding: 20px;
        background-color: $color-light;
        color: $color-purple;
        cursor: pointer;

        &.active {
            .faq-item-text {
                max-height: 275px;
            }
        }
    }
    .faq-item-title {
        font-weight: bold;
        margin: 0;
    }
    .faq-item-text {
        width: 100%;
        transition: max-height 0.75s ease;
        font-size: 18px;
        max-height: 0;
        margin: 0;
        overflow: hidden;
    }

}

#culture-section {
    p {
        margin-bottom: 0;
    }
}

#sponsors-section {
    .section-title-container {
        padding-bottom: 0;
    }

    .sponsor-tier {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .sponsor-logo-image {
        // Note: AdBlock will block the "sponsor-logo" class
        display: block;
        height: auto;
        margin: 20px;
        width: 100%;
        max-width: 150px;
    }
    .sponsor-tier-3 .sponsor-logo-image {
        max-width: 300px;
    }
    .sponsor-tier-2 .sponsor-logo-image {
        max-width: 200px;
    }
    .sponsor-tier-1 .sponsor-logo-image {
        max-width: 100px;
    }
    .sponsor-tier-title {
        text-align: center;
        margin-top: 1em;
    }

    .sponsors-past {
        margin-top: 100px;
        text-align: center;
    }

    p {
        max-width: 900px;
    }

}


@media(max-width: $screen-md-min) {
    $title-font-size: 30px;
    $section-margin: 125px;
    $title-offset: $title-font-size*0.9;

    .section {
        // Convert all sections to center section

        .section-title-container {
            font-size: $title-font-size;
        }
        .section-content-container {
            font-size: 20px;
            padding-bottom: $title-offset;
        }
        .section-title-spacer-filled,
        .section-title-spacer-empty {
            display: none;
        }
        .section-title-text {
            flex-grow: 1;
            text-align: center;
        }

        &.section-right,
        &.section-left {
            margin-top: ($section-margin + $title-offset);

            .section-title-container {
                margin-bottom: (-1)*$title-offset*3;
            }
            .section-content-container {
                font-size: 20px;
                padding-top: $title-offset*4;
            }
        }

        &.section-center {
            margin-top: $section-margin;
            .section-title-container {
                padding-top: $title-offset;
                padding-bottom: $title-offset;
            }
        }


    }

    #title-section {
        .title-images {
            height: 400px;
        }
    }


    #what-is-section {
        .what-is-info {
            padding: 0;
        }
        .icon-container {
            display: none;
        }
        .what-is-info:first-child h3 {
            margin-top: 0;
        }
        .what-is-info:last-child p {
            margin-bottom: 0;
        }
        .description {
            h3 {
                font-size: $title-font-size*0.8;
            }
        }
    }

    #faq-section {
        .faq-item-container {
            flex-direction: column;
        }
        .faq-item-box {
            margin: 5px 10px;
            width: auto;

            &.active {
                .faq-item-text {
                    max-height: 200px;
                }
            }
        }
        .faq-item-text {
            font-size: 0.85;
        }
    }

    #sponsors-section {
        h1 {
            font-size: $title-font-size*0.9;
        }
    }


}


@media(min-width: $screen-sm-min) {
    // >= Tablet
    #title-section {
        .button {
            margin: 0;
        }
    }
}

@media(max-width: $screen-sm-min) {
    // Mobile
    #title-section {
        padding-top: 0;

        .title-images-container {
            display: none;
        }
        .title-content {
            flex-direction: column-reverse;
            padding-top: 0;
            padding-bottom: 15px;

            > * {
                height: auto;
            }
        }
        .title-buttons-container {
            padding: 15px 0;
        }
        .title-text {
            font-size: 25px;
        }
        .title-buttons {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-right: 0;
        }


    }

}


@media(max-width: $screen-lg-min) {
    // < Desktop
    #title-section {
        .title-image-two {
            border-right: 0;
        }
        .title-image-three {
            display: none;
        }
    }

    #culture-section {
        .img-container {
            margin-bottom: 1em;
        }
    }
}
