extends ../../../_pug/userLayout.pug

block vars
    -
        var pageName = "Organize"
        var viewDir = "/static/views/organize/index"

block content

    h1 Organize

    ul
        li: a(href="/organize/attendees") Attendee information, check-in

    h3 Export CSVs
    p Be aware these may take a few minutes to download, as the data is generated upon request.
    ul
        li: a(href="/api/hacker/get/csv/by_school" target="_blank" download) Hacker data and school names
        li: a(href="/api/organizer/get/csv/roster" target="_blank" download) Organizer Roster
        li: a(href="/api/hackathon/get/csv/attendees_checked_in" target="_blank" download) Checked in attendees