.background-overlay
    position: fixed
    width: 100vw
    height: 100vh

    background-image: url("/img/index/funLines.svg"), url("/img/index/backgroundLetters.svg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    background-attachment: fixed
