extends ../../../_pug/standardLayout.pug

block vars
    -
        var pageName = "Judge Registration"
        var viewDir = "/static/views/registration/judge"

block append styles
    link(rel="stylesheet" type="text/css" href=`${viewDir}/style.css`)

block append scripts
    script(src=`${viewDir}/script.js`)

block content
    h1 TODO: #{pageName}
