extends ../../../_pug/userLayout.pug

block vars
    -
        var pageName = "Judge Registration"
        var viewDir = "/static/views/registration/judge"

block append styles
    link(rel="stylesheet" type="text/css" href=`${viewDir}/style.css`)

block append scripts
    script(src=`${viewDir}/script.js`)

block content
    h1 Judge Registration
    p TODO - Judge registration prompt
    form#register
        .form-section
            fieldset.row
                .field-label.col-md-4 What organization are you a part of? *
                .col-md-8
                    input.responsive(type="text" name="affiliation" maxlength=100 placeholder="Where you work, TechNole, FSU, etc." required)

            fieldset.row
                .field-label.col-md-4 Who have you been in contact with on our organizer team? *
                .col-md-8
                    input.responsive(type="text" name="organizer_contact" maxlength=100 placeholder="Nick, Jared, Cody, etc." required)

        .form-section
            .text-right
                button.btn.btn-form(type="submit") Submit

