extends ../../_pug/standardLayout.pug

block vars
    -
        var pageName = "Help"

block content
    h1 Help Requests are closed
    p This help requests page will be open during the event.
    P If you need help now, check out the #[a(href="/#faq") FAQs] or shoot us an email at #[a(href="mailto:info@hackfsu.com") info@hackfsu.com].

