extends ../../_pug/mainLayout.pug

block append styles
    link(rel="stylesheet" type="text/css" href="/static/views/hype/style.css")

block append scripts
    script(src="/static/views/hype/script.js")

block body-container
    .hype-content-container
        .hype-logo
            .hype-logo-line
                img.img-responsive(src="/static/img/logos/hackfsu/hackfsu-2016.png")
                h1.uni-fix HackFSU
            .hype-logo-line
                h2.uni-fix FEB. 17-19

        .hype-content
            block hype-content
