title HackFSU
meta(name='description', content='FSU and FAMU present: HackFSU 5')
meta(property='og:title', content='HackFSU 5')
meta(property='og:type', content='website')
meta(property='og:url', content='http://hackfsu.com')
meta(property='og:description', content='HackFSU is back and bolder than ever! Join us in our 5th year as we work with FAMU for 36 hours of collaborating, creating, and celebrating. From aspiring developers to designers, and everything between, students will have the opportunity to build bigger, better, and bolder projects.')
meta(property='og:image', content='http://hackfsu.com/public/img/hackfsu-banner.png')
meta(name='twitter:url', content='http://hackfsu.com')
meta(name='twitter:title', content='HackFSU is back!')
meta(name='twitter:description', content='HackFSU is back and bolder than ever! Join us in our 5th year for 36 hours of collaborating, creating, and celebrating.')
meta(name='twitter:image', content='http://hackfsu.com/public/img/hackfsu-banner.png')
