block append content
  section.section.about#about
    .container
      .columns
        .column.pictures.is-hidden-touch
          .fig-wrap#fig1
            figure.image.is-4by3
              img(src="/img/index/fig-top-right.jpg")
          .fig-wrap#fig2
            figure.image.is-4by3
              img(src="/img/index/fig-middle-left.jpg")
          .fig-wrap#fig3
            figure.image.is-4by3
              img(src="/img/index/fig-bottom-right.jpg")
        .column.is-5-desktop.text.is-12-tablet
          .content.is-large
            h1.title.is-1.is-spaced 5 Years Strong.

            h3.subtitle.is-4 A Place to Create
            p.
              At hackathons, you have the ability to build
              on any idea you can come up with. Web design,
              frontend/backend development, iOS and Android
              apps, hardware hacks, and server management
              are just a few of the possibilities!

            h3.subtitle.is-4 An Opportunity for Experience
            p.
              Workshops, tech talks, and access to mentors
              allows both beginning and experienced students
              to learn new technologies. Head over to our
              sponsor tables and find out about potential
              internship and career opportunities!


            h3.subtitle.is-4 A Chance to Collaborate
            p.
              Working alongside equally passionate people
              allows you to become encouraged to keep building
              and learning. You’ll be amazed what you can
              accomplish as a team.
