block append content
  section.section.about
    .container
      .columns
        .column.pictures.is-hidden-touch
          .fig-wrap#fig1
            figure.image.is-4by3
          .fig-wrap#fig2
            figure.image.is-4by3
          .fig-wrap#fig3
            figure.image.is-4by3
        .column.is-5-desktop.text.is-12-tablet
          .content.is-large
            h1.title.is-1 Five Years Strong.

            p MangoHacks is a place for discovery.
            br
            p Its a 36 hour hackathon that encourages learning, collaboration, growth, innovation, and fun.
            br
            p We will welcome 350+ students from Florida and across the country
            br
            p with amazing mentors, and wonderful sponsors to create amazing things.
            br
