block append content

    section.section.culture#culture
        .container

            //- h1.title.is-1.is-hidden-tablet Hacking Culture

            .columns.is-centered.is-desktop
                .column.is-7-desktop.picture
                    figure.image
                        img(src="/img/index/hacking-culture.jpg")
                        h1.title.is-1.hacking hacking
                        h1.title.is-1.culture CULTURE

                .column.is-3-desktop.is-offset-1.content-wrap
                    .content.is-medium
                        p
                            | Each year, we set out to build a
                            |
                            strong culture of creation.
                            |
                            | Students put aside their weekend for
                            | the opportunity to build whatever they
                            | can think of alongside
                            |
                            strong hundreds of other students
                            |
                            | from around the country. Mentors from
                            | the industry volunteer their knowledge to
                            | support your crazy ideas. All we ask is
                            | that you come prepared with an
                            |
                            strong open mind,
                            |
                            | ready to dedicate 36 hours to learn
                            | something new.
