block append content

    section.section.culture
        .container

            .columns
                .column.is-8.picture

                .column.is-4.content-wrap
                    .content.is-medium
                        p
                            | Each year, we set out to build a
                            |
                            strong culture of creation.
                            |
                            | Students put aside their weekend for
                            | the opportunity to build whatever they
                            | can think of alongside
                            |
                            strong hundreds of other students
                            |
                            | from around the country. Mentors from
                            | the industry volunteer their knowledge to
                            | support your crazy ideas. All we ask is
                            | that you come prepared with an
                            |
                            strong open mind,
                            |
                            | ready to dedicate 36 hours to learn
                            | something new.
