block append content
    block footer
        footer.footer
            .container
                .buttons.is-centered
                        a.button.is-primary.is-rounded.hackfsu(href='/register') Apply
                        a.button.is-rounded.hackfsu(href='mailto:info@hackfsu.com') Contact

                .content.has-text-centered
                    .logo-links
                        a(href="https://www.twitter.com/HackFSU" target="_blank" title="@HackFSU on Twitter")
                            i.fa.fa-twitter
                        a(href="https://www.facebook.com/hackfsu" target="_blank" title="HackFSU on Facebook")
                            i.fa.fa-facebook
                        a(href="https://www.instagram.com/hackfsu" target="_blank" title="HackFSU on Instagram")
                            i.fa.fa-instagram
                        a(href="https://github.com/HackFSU" target="_blank" title="HackFSU on GitHub")
                            i.fa.fa-github
                    .copyright © 2018 HackFSU
