  section.header.landing

    .confetti-wrapper.container
      .background-Letters

    .content.container.col.s12
      .heading
        .presenting FAMU & FSU PRESENTS
        img.hackSymbol(src="/img/index/hackFSUSymbol.svg")
        p HACKFSU
          strong  5

      .preview-form
        .column.is-8-widescreen.content-wrap.row
          .date March 2 - 4 / FLORIDA STATE UNIVERSITY


          .form.col.s12
            .select-card.col.s12
              .submit.row
                .col.s12
                    a(href='mailto:info@hackfsu.com')#submit-button.waves-effect.waves-teal.btn-large
                      div#reg-button-wrap
                        span Contact Us
                        small Registration Coming Soon

      .conduct
        p
          a(href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf") MLH Code Of Conduct
