mixin item(time, name)
    tr
        th=time
        td=name

block append content

    section.section.schedule#schedule


        .container
            h1.title.is-1 Schedule
            .columns.is-centered
                .column
                    h1.title.is-4 Friday
                    table.table
                        thead
                            +item("Time", "Event")
                        tbody
                            +item("5:30 PM", "Check In")
                            +item("6:00 PM", "Dinner")
                            +item("6:00 PM", "Sponsor Expo")
                            +item("7:30 PM", "Opening Ceremony")
                            +item("9:00 PM", "Hacking Begins")
                            +item("9:30 PM", "Workshop: Mobile Applications")
                            +item("10:45 PM", "Workshop: Design Thinking")
                            +item("11:30 PM", "Workshop: Hardware Lab")

                .column
                    h1.title.is-4 Saturday
                    table.table
                        thead
                            +item("Time", "Event")
                        tbody
                            +item("12:00 AM", "Midnight Snack")
                            +item("1:00 AM", "Workshop: Github")
                            +item("2:00 AM", "Workshop: Web Development")
                            +item("7:00 AM", "Breakfast")
                            +item("9:45 AM", "Workshop: VR Development")
                            +item("12:00 PM", "Lunch")
                            +item("1:00 PM", "Workshop: Video Game Dev")
                            +item("2:00 PM", "Workshop: Deep Learning")
                            +item("3:00 PM", "Diversity in Tech Panel")
                            +item("4:00 PM", "Snapchat Filter Design")
                            +item("5:00 PM", "Life in Tech Industry Talk")
                            +item("6:00 PM", "Dinner")
                            +item("7:30 PM", "Workshsop: Cyber Security")
                            +item("8:45 PM", "T-Shirts")
                            +item("9:00 PM", "Cup Stacking")

                .column
                    h1.title.is-4 Sunday
                    table.table
                        thead
                            +item("Time", "Event")
                        tbody
                            +item("12:00 AM", "Midnight Snack")
                            +item("7:00 AM", "Breakfast")
                            +item("9:00 AM", "Hacking Ends")
                            +item("10:00 AM", "Expo 1")
                            +item("11:10 AM", "Expo 2")
                            +item("1:00 PM", "Closing Ceremony")
                            +item("2:15 PM", "Bus Departure")
