block append content
  section.section.sponsors
    .container.has-text-centered
      h1.title.is-1 Sponsors
      .columns.is-centered
        .column.is-2
          figure.image
            img(src="/img/sponsors/domiLogo.png")
        .column.is-1
        .column.is-3
          figure.image
            img(src="https://2017.hackfsu.com/static/img/logos/fsu/college-of-arts-and-sciences.png")
