mixin row(tier)
  .columns.is-centered(class="tier-" + tier)
    block

mixin sponsor(size, url)
  div(class="column is-" + (size))
    figure.image
      img(src=url)

block append content
  section.section.sponsors#sponsors
    .container.has-text-centered
      h1.title.is-1 Sponsors
      +row(1)
        div(class="column is-4 github-col")
          .madewith made with <3 from
          figure.image
            img(src="/img/sponsors/github/GitHub_Logo.png")
      +row(2)
        +sponsor(3, "/img/sponsors/scicomp/dsc.png")
        +sponsor(3, "/img/sponsors/coas/ArtsSciences.png")
      +row(3)
        +sponsor(3, "/img/sponsors/statefarm/state_farm_logo.png")
        +sponsor(3, "/img/sponsors/diversecomputing/DCI_Logo_RGB_Web_Large.png")
        +sponsor(3, "/img/sponsors/jimmorgan/jms-stacked.png")
      +row(4)
        +sponsor(2, "/img/sponsors/linode/Linode.png")
        +sponsor(2, "/img/sponsors/domistation/domiLogo.png")
        +sponsor(2, "/img/sponsors/digitalocean/DO_Logo_Vertical_Black.png")
        +sponsor(2, "/img/sponsors/fccu/FCCU_horiz-3C_logotag.png")
