block append content
  section.section.sponsors
    .container.has-text-centered
      h1.title.is-1 Sponsors
      .columns
        .column
          .notification.is-info
            h1.title Sponsor 1
        .column
          .notification.is-link
            h1.title Sponsor 2

      .columns
        .column
          .notification.is-info
            h1.title Sponsor 3
        .column
          .notification.is-danger
            h1.title Sponsor 4
        .column
          .notification.is-warning
            h1.title Sponsor 5
