extends ../../../_pug/standardLayout.pug

block vars
    -
        var pageName = "User Login"
        var viewDir = "/static/views/user/login"

block append scripts
    script(src=`${viewDir}/script.js`)

block content
    h1 Login
    form#login
        .form-section
            fieldset.row
                label.col-md-2(for="email") Email *
                .col-md-10: input.responsive(type="email" name="email" maxlength=100 placeholder="your@school.edu" required)
            fieldset.row
                label.col-md-2(for="password") Password *
                .col-md-10: input.responsive(type="password" id="password" name="password" minlength=8 maxlength=100 placeholder="********************" required)
        .form-section
            .text-right
                button.btn.btn-form(type="submit") Log in