extends ../../../_pug/standardLayout.pug

block vars
    -
        var pageName = "User Login"
        var viewDir = "/static/views/user/login"

block append scripts
    script(src=`${viewDir}/script.js`)

block content
    h1 Login
    form#login
        input(type="email" name="email" maxlength=100 placeholder="Email" required)
        input(type="password" name="password" minlength=8 maxlength=100 placeholder="Password" required)
        button(type="submit") Log in
