section.section.culture

    padding: 12rem 1.5rem

    .picture
        background-color: $purple

    .content-wrap
        display: flex
        justify-content: center

        .content
            font-family: $family-primary
            // font-weight: 500
            max-width: 300px
