section.section.sponsors
    background: white
    padding: 6rem 1.5rem

    .container > h1.title
        color: $cyan
        font-weight: 700
        margin-bottom: 4rem

    .columns

        @include desktop
            margin-bottom: 5rem

        .column
            display: flex
            justify-content: center
            margin: 0 1rem

            @include touch
                margin-bottom: 2rem

            figure.image
                display: flex
                justify-content: center
                align-items: center

                img
                    width: auto

                    @include mobile
                        max-width: 50vw
        &.tier-1
            @include desktop
                margin-bottom: 3rem
            img
                max-height: 175px

        &.tier-2 img
            max-height: 150px

        &.tier-3 img
            max-height: 125px

        &.tier-4 img
            max-height: 100px
