section.section.sponsors
    background: white
    padding: 6rem 1.5rem

    .container > h1.title
        color: $cyan
        font-weight: 700
        margin-bottom: 5rem

    @include touch

        figure.image
            display: flex
            justify-content: center
            align-items: center

            img
                width: 66%
                max-width: 300px

    // figure.image > img
    //     max-height: 150px
    // .column
    //     max-height: 200px
